/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Inter Regular";
  src: url("./assets/fonts/Inter/static/Inter-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Segoe UI Regular";
  src: url("./assets/fonts/SegoeUI/Segoe UI.ttf");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("./assets/fonts/SegoeUI/Segoe\ UI\ Bold.ttf");
}
