/* You can add global styles to this file, and also import other style files */

/*prosemirror*/
.ProseMirror:focus {
  outline: none;
}

.ProseMirror {
  font-family: "Segoe UI Regular", sans-serif !important;
  font-size: 13px !important;
  color : #3C3C3C !important;
  width: 50vw;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.line-node {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}

.add-button {
  position: absolute;
  top: 0;
  left: -64px;
  transition: all ease 0.15s;
}

.empty {
  display: none;
  opacity: 0;
}

code {
  background-color: rgb(241 245 249);
  padding: 6px 5px 4px;
  font-size: 8px;
  border-radius: 3px;
}

/*menu*/
.menu {
  display: flex;
  flex-direction: row;
  gap : 5px;
}

.menu-element {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 10px;
  color: #4b5563;
  border-radius: 3px;
  transition: all ease 0.15s;
}

.menu-element:hover {
  background-color: #f3f4f6;
  border-radius: 3px;
  transition: all ease 0.15s;
}

.menu-element:active {
  background-color: #f8fafc;
  color: #cbd5e1;
  transition: all ease 0.15s;
}

.clicked:hover, .clicked path,
.clicked:hover, .clicked line {
  stroke: #1d4ed8;
}
.clicked, .clicked:hover {
  color: #1d4ed8;
  background-color: #eff6ff;
  transition: all ease 0.15s;
}


@font-face {
  font-family: "Inter Regular";
  src: url("./assets/fonts/Inter/static/Inter-Regular.ttf") format("opentype");
}

@font-face {
  font-family : "Segoe UI Regular";
  src: url('./assets/fonts/SegoeUI/Segoe UI.ttf')
}
